<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OfficeAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
      <OfficeAutomation.Properties.Settings>
        <setting name="CIPS" serializeAs="String">
          <value>Data Source=192.168.2.6;Initial Catalog=CIPS;Integrated Security=true</value>
        </setting>
        <setting name="RxBackend" serializeAs="String">
          <value>Data Source=192.168.2.6;Initial Catalog=RxBackend;Integrated Security=true</value>
        </setting>
        <setting name="FAC_COLUMN" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="EmailAddress" serializeAs="String">
          <value>operations@ihspharmacy.com</value>
        </setting>
        <setting name="EmailPassword" serializeAs="String">
          <value>PFnCH5WMt+nIMrCEObfhVA==</value>
        </setting>
        <setting name="EmailServer" serializeAs="String">
          <value>outlook.office365.com</value>
        </setting>
        <setting name="Mailbox" serializeAs="String">
          <value>IHS</value>
        </setting>
        <setting name="DSN_CIPS" serializeAs="String">
          <value>cips9</value>
        </setting>
        <setting name="DSN_RxBackend" serializeAs="String">
          <value>Rx</value>
        </setting>
        <setting name="EmailPort" serializeAs="String">
          <value>587</value>
        </setting>
        <setting name="FaxPrinter" serializeAs="String">
          <value>ActiveFax</value>
        </setting>
        <setting name="CalendarID" serializeAs="String">
          <value>q9fs2m6fm2iekpie72f5ufdvf0@group.calendar.google.com</value>
        </setting>
        <setting name="FaxFolder" serializeAs="String">
          <value>\\IHSADAF1\activerx\</value>
        </setting>
        <setting name="ForwardAddress" serializeAs="String">
          <value>keilad@ihspharmacy.com</value>
        </setting>
        <setting name="BillingRptFolder" serializeAs="String">
          <value>C:\Notifications\Billing\</value>
        </setting>
        <setting name="BillingExports" serializeAs="String">
          <value>C:\Notifications\Exports\</value>
        </setting>
        <setting name="download" serializeAs="String">
          <value>C:\Files\download\</value>
        </setting>
        <setting name="process" serializeAs="String">
          <value>C:\Files\process\</value>
        </setting>
        <setting name="renamed" serializeAs="String">
          <value>C:\Files\renamed\</value>
        </setting>
        <setting name="fromCrop" serializeAs="String">
          <value>1630, 570</value>
        </setting>
        <setting name="toCrop" serializeAs="String">
          <value>1920, 640</value>
        </setting>
        <setting name="dpi" serializeAs="String">
          <value>300</value>
        </setting>
        <setting name="python" serializeAs="String">
          <value>C:\Program Files\Python38\</value>
        </setting>
        <setting name="NotifyExports" serializeAs="String">
          <value>C:\Notifications\Exports\</value>
        </setting>
        <setting name="NotifyReport" serializeAs="String">
          <value>C:\Notifications\Reports\FN.rpt</value>
        </setting>
        <setting name="AddressAttachment" serializeAs="String">
          <value>zrefugee@gmail.com</value>
        </setting>
        <setting name="PasswordAttachment" serializeAs="String">
          <value>OuadmfoyL8VvCpWcxbgZ9w==</value>
        </setting>
        <setting name="DSN_WS" serializeAs="String">
          <value>CIPS_WS</value>
        </setting>
        <setting name="WS_ID" serializeAs="String">
          <value>ZWS</value>
        </setting>
        <setting name="SendEmailMessage" serializeAs="String">
          <value>Your Billing Report from IHS Pharmacy is attached</value>
        </setting>
        <setting name="SendEmailSubject" serializeAs="String">
          <value>Your Billing Report is attached</value>
        </setting>
        <setting name="NotifyEmailMessage" serializeAs="String">
          <value>Currently, we are testing a new billing process.  Please disregard the email that was sent out, as it was a false start. 

We currently plan on sending the July Billing on Monday, if all goes well.</value>
        </setting>
        <setting name="NotifyEmailSubject" serializeAs="String">
          <value>Issue with previous Billing Report sent</value>
        </setting>
        <setting name="update" serializeAs="String">
          <value>\\IHSSQL1\Application Setups\IHS Office Automation\update\</value>
        </setting>
      </OfficeAutomation.Properties.Settings>
    </userSettings>
</configuration>